apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  # Prod: slightly more frontend replicas
  replicas: 3
  template:
    spec:
      containers:
        - name: frontend
          resources:
            requests:
              memory: "256Mi"
              cpu: "150m"
            limits:
              memory: "512Mi"
              cpu: "300m"
