apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: prod-

resources:
  - ../../base

patchesStrategicMerge:
  - backend-deployment-patch.yaml
  - frontend-deployment-patch.yaml
  - configmap-patch.yaml
